p{
    color: #6E7191;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
}
h2{
    margin-top: 227px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #211F54;
    text-align: center;
}